<h2>Show entry</h2>

<ul>

  <li>
    <strong>Url:</strong>
    <%= @entry.url %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @entry.title %>
  </li>

  <li>
    <strong>Registered at:</strong>
    <%= @entry.registered_at %>
  </li>

  <li>
    <strong>Is exclude:</strong>
    <%= @entry.is_exclude %>
  </li>

</ul>

<%= link "Edit", to: entry_path(@conn, :edit, @entry) %>
<%= link "Back", to: entry_path(@conn, :index) %>
