<div class="row">
  <aside class="col-md-4">
    <section>
      <h3>
        <%= @bookmark.title %>
        <small><%= link @bookmark.url, to: @bookmark.url %></small>
      </h3>
      <%= render Bookmarks.SharedView, "tag_list_items.html", conn: @conn, bookmark: @bookmark %>
      <%= render Bookmarks.SharedView, "bookmark_buttons.html", conn: @conn, bookmark: @bookmark, edit: true, back: true, delete: true %>
    </section>
  </aside>
 </div>
